<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= subject %>
    </title>
</head>

<body>
    <h1>¡Hola, <%= nombre %>!</h1>
    <p>Este es tu recordatorio diario para revisar nuestras ofertas y promociones.</p>
    <a href="https://pf-ecommerce2024.vercel.app/" style="color: #f0a500; text-decoration: none;">Explora nuestras
        promociones</a>
</body>

</html>