<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= subject %>
    </title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #232323;
            color: #ffffff;
        }

        .container {
            max-width: 600px;
            margin: 30px auto;
            padding: 20px;
            background-color: #1a1a1a;
            border-radius: 15px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
            text-align: center;
            border: 2px solid #A065FF;
        }

        .header {
            margin-bottom: 20px;
        }

        .header img {
            width: 150px;
        }

        .title {
            color: #A065FF;
            font-size: 28px;
            font-weight: bold;
            margin: 20px 0;
        }

        .message {
            line-height: 1.8;
            font-size: 16px;
            margin-bottom: 20px;
            color: #e0e0e0;
        }

        .cta-button {
            display: inline-block;
            padding: 12px 25px;
            margin-top: 20px;
            background-color: #f4f4f4;
            /* Fondo más claro */
            color: #232323;
            /* Texto oscuro */
            text-decoration: none;
            font-weight: bold;
            border-radius: 30px;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        .cta-button:hover {
            background-color: #dcdcdc;
            /* Fondo un poco más oscuro en hover */
            transform: scale(1.05);
        }

        .footer {
            margin-top: 30px;
            font-size: 14px;
            color: #bfbfbf;
        }

        .footer a {
            color: #A065FF;
            text-decoration: none;
        }

        .footer a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="header">
            <img src="https://res.cloudinary.com/dvpenabty/image/upload/v1733093069/logo_g8qfvy.png"
                alt="CyberGames Logo">
        </div>
        <div class="title">
            ¡Bienvenido a CyberGames, <%= nombre %>!
        </div>
        <p class="message">
            Estamos emocionados de tenerte como parte de nuestra comunidad gamer. Ahora tienes acceso a las mejores
            ofertas, noticias, y mucho más.
        </p>
        <p class="message">
            No olvides explorar nuestras promociones exclusivas y los eventos especiales que hemos preparado para ti.
            ¡Tu próxima aventura gamer te espera!
        </p>
        <a href="https://pf-ecommerce2024.vercel.app/" class="cta-button">Explorar CyberGames</a>
        <div class="footer">
            <p>Si tienes alguna pregunta, no dudes en <a href="https://pf-ecommerce2024.vercel.app/">contactar a
                    soporte</a>.</p>
            <p>&copy; 2024 CyberGames. Todos los derechos reservados.</p>
        </div>
    </div>

</body>

</html>